<!DOCTYPE html>
<head>
	<!-- templatemo 418 form pack -->
    <!-- 
    Form Pack
    http://www.templatemo.com/preview/templatemo_418_form_pack 
    -->
	<title>{{page.title}}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-social.css" rel="stylesheet" type="text/css">	
	<link href="/css/templatemo_style.css" rel="stylesheet" type="text/css">	
	<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">	
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
</head>
<body class="templatemo-bg-image-1">
	<div class="wrapper">
		<div id="header">
			<div class="pcontainer">
				<a id="logo" rel="home" title="" href="/"><img src="/images/radiate.png" alt="Radiation Games Logo" height="75" width="75">Spartan Engine</a>
				<nav>
					<li><a href="/">Home</a></li>
				</nav>
			</div>
		</div>
		<div id="body">
			{{content}}
		</div>
	</div>
</body>